<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Heart Disease Predictor</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='diabetes-favicon.ico') }}">
        <link rel="stylesheet" href="../static/styles.css?q=124898745">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> -->
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
	    
	</head>

    <body>

        <!-- Website Title -->
    	<div class="container">
            <h2 class='container-heading'><span class="heading_font">Heart ❤️ Disease Predictor</span></h2>
            <div class='description'>
    			<p>Treat your ❤️ right</p>
    		</div>
    	</div>


        <!-- Text Area -->
    	<div class="ml-container">
    		<form action="{{ url_for('predict') }}" method="POST">
        		<input type="submit" class="my-cta-button" value="Predict">
        	</form>
    	</div>

        <!-- Footer -->
       <div class='footer'>
           <p class='footer-description'>Developed by BitNinjas🦋</p>
       </div>

    </body>
</html>
